/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --text-main: #edf2f4;
  --bg-navbar: #2b2d42;
  --bg-section: #d90429;
  --bg-header: #ef233c;
  --bg-main: #edf2f4;
  --bg-footer: #111111;
  --bg-white: #ffffff;
  --bg-gray: #757474;
  --bg-tag: #3182ce;
  
  /* Movie */
  --gradient-movie: linear-gradient(#11111100, #111111c1);
  --bg-title: #0000002c;

  /* Banner */
  --banner-description: #2b2d427e;

  /* Auth */
  --bg-auth-from: #ffffff;
}

body {
  background-color: var(--bg-main) !important;
}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  line-height: normal !important;
}
