/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  /* ADMIN */
  --bg-navbar-admin: #03033f;
  
  /* USER */
  --text-main: #edf2f4;
  --text-black: #111111;
  --text-btn: var(--bg-section);
  --bg-navbar: #14213df1;
  --bg-main-second: #14213d;
  --bg-section: #fca311;
  --bg-header: #ef233c;
  --bg-main: #edf2f4;
  --bg-footer: #111111;
  --bg-white: #ffffff;
  --bg-gray: #757474;
  --bg-tag: #3182ce;
  
  /* Movie */
  --gradient-movie: linear-gradient(#11111100, #111111c1);
  --bg-title: #0000002c;
  --bg-episode-watched: #dfdfdf;


  /* Banner */
  --banner-description: #2b2d427e;

  /* Auth */
  --bg-auth-from: #ffffff;
}

body {
  background-color: var(--bg-main) !important;
}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  line-height: normal !important;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	background-color: var(--bg-navbar);
}

.navigate {
  display: flex;
  gap: 0.5rem;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  .disabled {
    color: gray;
  }
  .page-paginate {
    transition: 0.3s;
    font-weight: bold;
    &:hover {
      color: #d21616;
    }
  }
  a {
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--text-black);
    width: 35px;
    height: 35px;
    font-size: 16px;
  }
  .hd {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .active {
    border-radius: 5px;
    color: var(--text-main) !important;
    background-color: var(--bg-navbar);
    &:hover {
      color: initial;
    }
  }
  .break {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}