<IfModule mod_rewrite.c>
   RewriteEngine On
	php_value max_file_uploads 200
	php_value upload_max_filesize 3048M
   php_value post_max_size 3048M
   php_value max_execution_time 6000
   RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
<IfModule mod_deflate.c>
 AddOutputFilterByType DEFLATE text/css
 AddOutputFilterByType DEFLATE text/html
 AddOutputFilterByType DEFLATE text/javascript
 AddOutputFilterByType DEFLATE text/plain
 </IfModule> 